<h1>Activity details:</h1>

<table class="ui definition table">
    <tbody>
        <tr>
            <td class="two wide column">Activity title</td>
            <td>
                <p *ngIf="activitySelected">{{ activitySelected.title }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity description</td>
            <td>
                <p *ngIf="activitySelected">{{ activitySelected.description }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity rating</td>
            <td>
                <p *ngIf="activitySelected">{{ activitySelected.rating }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity location</td>
            <td>
                <p *ngIf="activitySelected">{{ completeStreetName }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity start</td>
            <td *ngIf="activitySelected" [innerHtml]="timeConverter(activitySelected.timestampStart)"></td>
        </tr>
        <tr>
            <td class="two wide column">Activity end</td>
            <td *ngIf="activitySelected" [innerHtml]="timeConverter(activitySelected.timestampEnd)"></td>
        </tr>
        <tr *ngIf="activitySelected">
            <td class="two wide column">Activity participants</td>
            <td>
                <ul *ngFor="let p of participants">
                    <li><span style="color: red">ID: </span>{{p.id}}</li>
                    <li><span style="color: red">Name: </span>{{p.name}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity activity type</td>
            <td>
                <p *ngIf="activitySelected">{{ activitySelected.activityType }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity capacity</td>
            <td>
                <p *ngIf="activitySelected">{{ activitySelected.capacity }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity price</td>
            <td>
                <p *ngIf="activitySelected">{{ activitySelected.price }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity images:</td>
            <td>
                <div *ngIf="activitySelected">
                    <ul *ngFor="let i of activitySelected.images">
                        <li>
                            <img src="{{ activitySelected.images }}" height="100px" width="100px">
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

    </tbody>
</table>

<div class="agm-map">
    <!-- Center of the map -->
    <agm-map [zoom]="zoom" [latitude]="iniLat" [longitude]="iniLng" [scrollwheel]="true" (mapClick)="mapclicked($event)">
        <!-- Markers -->
        <agm-marker [latitude]=iniLat [longitude]=iniLng>
            <agm-info-window>
                <p><strong>Title:</strong> {{ activitySelected.title }}</p>
                <p><strong>Description:</strong> {{ activitySelected.description }}</p>
                <strong>Start:</strong><p [innerHtml]="timeConverter(activitySelected.timestampStart)"></p>
                <strong>End:</strong><p [innerHtml]="timeConverter(activitySelected.timestampEnd)"></p>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>

<div class="ui left aligned basic segment">
    <button class="ui centered aligned button" (click)="goBack()">Back</button>
</div>
