<h1>Activity details:</h1>

<table class="ui definition table">
    <tbody *ngIf="activitySelected">
        <tr>
            <td class="two wide column">Activity title</td>
            <td>
                <p>{{ activitySelected.title }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity description</td>
            <td>
                <p>{{ activitySelected.description }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity rating</td>
            <td>
                <p>{{ activitySelected.rating }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity location</td>
            <td>
                <p>{{ completeStreetName }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity start</td>
            <td [innerHtml]="timeConverter(activitySelected.timestampStart)"></td>
        </tr>
        <tr>
            <td class="two wide column">Activity end</td>
            <td [innerHtml]="timeConverter(activitySelected.timestampEnd)"></td>
        </tr>
        <tr>
            <td class="two wide column">Activity participants</td>
            <td>
                <ul *ngFor="let p of participants">
                    <li><span style="color: red">Email: </span>{{p.email}}</li>
                    <li><span style="color: red">Name: </span>{{p.name}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity activity type</td>
            <td>
                <p>{{ activitySelected.activityType }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity capacity</td>
            <td>
                <p>{{ activitySelected.capacity }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity price</td>
            <td>
                <p>{{ activitySelected.price }}</p>
            </td>
        </tr>
        <tr>
            <td class="two wide column">Activity images:</td>
            <td>
                <div>
                    <ul *ngFor="let i of activitySelected.images">
                        <li style="list-style-type: none;">
                            <img src="{{ activitySelected.images }}" height="100px" width="100px">
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

    </tbody>
</table>

<div class="agm-map">
    <!-- Center of the map -->
    <agm-map [zoom]="zoom" [latitude]="iniLat" [longitude]="iniLng" [scrollwheel]="true">
        <!-- Markers -->
        <agm-marker [latitude]=iniLat [longitude]=iniLng>
            <agm-info-window *ngIf="activitySelected">
                <p><strong style="color: red;">Title:</strong> {{ activitySelected.title }}</p>
                <p><strong style="color: red;">Description:</strong> {{ activitySelected.description }}</p>
                <strong style="color: red;">Start:</strong><p [innerHtml]="timeConverter(activitySelected.timestampStart)"></p>
                <strong style="color: red;">End:</strong><p [innerHtml]="timeConverter(activitySelected.timestampEnd)"></p>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>

<div class="ui left aligned basic segment">
    <button class="ui centered aligned button" (click)="goBack()">Back</button>
</div>
