<div class="ui grid" id='box1'>
    <div class="four wide column">
        <div class="totalUsers">
            <i class="user icon" style="white-space: nowrap;"> Total Users</i>
            <p class='countNumber'>{{ totalUser }}</p>
        </div>
    </div>
    <div class="four wide column">
        <div class="totalActivities">
            <i class="game icon" style="white-space: nowrap;"> Total Activities</i>
            <p class='countNumber'>{{ totalAct }}</p>
        </div>
    </div>
    <div class="four wide column">
        <div class="totalActivities">
            <i class="chess queen icon" style="white-space: nowrap;"> Total Achievements</i>
            <p class='countNumber'>{{ totalAchievements }}</p>
        </div>
    </div>
    <div class="four wide column">
        <div class="totalConnections">
            <i class="world icon" style="white-space: nowrap;"> Total Connections</i>
            <p class='countNumber'>{{ totalCon }}</p>
        </div>
    </div>
</div>

<div class='ui grid' id='box2'>
    <div class="eight wide column">
        <canvas id="myChart"></canvas>
    </div>
    <div class="eight wide column">
        <canvas id="myChart2"></canvas>
    </div>
    <div class="eight wide column">
        <canvas id="myChart3"></canvas>
    </div>
    <div class="eight wide column">
        <canvas id="myChart4"></canvas>
    </div>
</div>
