.countNumber {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
    color: #87CEEB;
}

#box1 {
    border: 1px solid #000000;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

#box2 {
    border: 1px solid #000000;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

#myChart {
    height: 100px;
    width: 50px;
}
