.countNumber {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
    color: #87CEEB;
}
#box {
    border: 1px solid #000000;
    margin-top: 50px;
}
#myChart {
    height: 100px;
    width: 50px;
}