div.container {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

div.text {
    text-align: left;    
}

div.form {
    text-align: left;   
}

.buttonlogin {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    box-align: center;
}