<div class="content-panel">
    <div class="infoDialog" *ngIf="data.mode === 'infoDialog'" style="text-align: center">
        <div class="content-panel">
            <div class="ui icon header">
              <i class="exclamation icon"></i>
              Error Message:
            </div>
            <div class="content">
              {{ data.obj }}
            </div>
        </div>
    </div>
</div>

<!--Dialog title-->
<div *ngIf="data.mode === 'addActivity' || data.mode === 'editActivity' || data.mode === 'deleteActivity'">
    <h1 *ngIf="data.mode === 'addActivity'" >Add activity:</h1>
    <h1 *ngIf="data.mode === 'editActivity'" >Edit activity:</h1>
    <h1 *ngIf="data.mode === 'deleteActivity'" >Delete activity:</h1>
</div>

<div class="ui divider"></div>

<div *ngIf="data.mode === 'addActivity' || data.mode === 'editActivity' || data.mode">
    <div class="ui form">
        <form [formGroup]="activityForm" *ngIf="data.mode === 'addActivity' || data.mode === 'editActivity'">
            <div class="ui field">
                <label style="text-align: left">
                Name:
                <input type="text" formControlName="name">
                </label>
                <div class= "error-message" *ngIf= "activityForm.get('name').invalid && activityForm.get('name').touched" style="text-align: center">
                    <div class="input-err-message" style="text-align: center">
                        <p style="color: red; white-space: nowrap;">Must be at least 3 characters!</p>
                    </div>
                </div>
            </div>
            <div class="ui field">
                <label style="text-align: left">
                Desciption:
                <input type="text" formControlName="description">
                </label>
                <div class= "error-message" *ngIf= "activityForm.get('description').invalid && activityForm.get('description').touched" style="text-align: center">
                    <div class="input-err-message" style="text-align: center">
                        <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                    </div>
                </div>
            </div>
           <div class="ui field">
                <label style="text-align: left">
                Start Date:
                <input type="text" formControlName="startDate">
                </label>
                <div class= "error-message" *ngIf= "activityForm.get('startDate').invalid && activityForm.get('startDate').touched" style="text-align: center">
                    <div class="input-err-message" style="text-align: center">
                        <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                    </div>
                </div>
            </div>
            <div class="ui field">
                <label style="text-align: left">
                End Date:
                <input type="text" formControlName="endDate">
                </label>
                <div class= "error-message" *ngIf= "activityForm.get('endDate').invalid && activityForm.get('endDate').touched" style="text-align: center">
                    <div class="input-err-message" style="text-align: center">
                        <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                    </div>
                </div>
            </div>
            <div class="ui field">
                <label style="text-align: left">
                Latitude:
                <input type="text" formControlName="lat">
                </label>
                <div class= "error-message" *ngIf= "activityForm.get('lat').invalid && activityForm.get('lat').touched" style="text-align: center">
                    <div class="input-err-message" style="text-align: center">
                        <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                    </div>
                </div>
            </div>
            <div class="ui field">
                <label style="text-align: left">
                Longitude:
                <input type="text" formControlName="lng">
                </label>
                <div class= "error-message" *ngIf= "activityForm.get('lng').invalid && activityForm.get('lng').touched" style="text-align: center">
                    <div class="input-err-message" style="text-align: center">
                        <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                    </div>
                </div>
            </div>
            <div class="ui field">
                <label style="text-align: left">
                Image:
                </label>
                <!-- <input type="file" (change)="onFileSelected($event)"> 
                <button class="ui blue basic button" (click)="onUpload"> Upload </button> -->
                <input type="text" formControlName="image">
            </div>
        </form>
    <div>
</div>

<div *ngIf="data.mode === 'deleteActivity'">
    <p>Are you sure to delete : <span style="color: red"> {{ activityToDelete.name }}</span></p>
</div>

<div class="ui divider"></div>

<!--Add & Edit Actions-->
<div class="actions" *ngIf="data.mode === 'addActivity' || data.mode === 'editActivity'" style="text-align: center; padding-top: 10px;">
  <div class="ui green basic ok button" (click)="onSaveClick(data)">
    <i class="checkmark icon"></i>
    Save
  </div>
  <div class="ui red basic cancel button"  (click)="onCancelClick()">
    <i class="remove icon"></i>
    Cancel
  </div>
</div>

<!--Delete Actions-->
<div class="actions" *ngIf="data.mode === 'deleteActivity'" style="text-align: center; padding-top: 10px;">
  <div class="ui green basic ok button"  (click)="onDeleteClick(data)">
    <i class="checkmark icon"></i>
    Yes
  </div>
  <div class="ui red basic cancel button"  (click)="onCancelClick()">
    <i class="remove icon"></i>
    No
  </div>
</div>