<h1>User location:</h1>

<!-- Center of the map -->
<agm-map [latitude]="iniLat" [longitude]="iniLng" [scrollwheel]="true" (mapClick)="mapclicked($event)">
  <!-- Markers -->
  <agm-marker *ngFor = "let m of markers" [latitude]= m.lat [longitude]= m.lng>
      <agm-info-window >
        <p><strong>Person name:</strong> {{ m.name }}</p>
        <p><strong>Activity name:</strong> {{ m.description }}</p>
        <p><strong>Latitude:</strong> {{ m.lat }}</p>
        <p><strong>Longitude:</strong> {{ m.lng }}</p>
        <p><strong>Address:</strong> {{ m.address }}</p>
      </agm-info-window>
  </agm-marker>
</agm-map>