<h1>Users out of range location: <i class="location arrow icon"></i></h1>

<div class="agm-map">
    <!-- Center of the map -->
    <agm-map [zoom]="zoom" [latitude]="initLat" [longitude]="initLong" [scrollwheel]="true" (mapClick)="mapclicked($event)">
        <!-- Markers -->
        <agm-marker *ngFor="let p of emergencyUsers;" [latitude]=p.place.lat [longitude]=p.place.long>
            <agm-info-window>
                <p><strong>Latitude:</strong> {{ p.place.lat }}</p>
                <p><strong>Longitude:</strong> {{ p.place.long }}</p>
                <p><strong>Address:</strong> {{ p.place.placeName }}</p>
                <p><strong>Username:</strong> {{ p.username }}</p>
                <p><strong>Emergency Contacts:</strong> {{p.contactPhones}}</p>
            </agm-info-window>
        </agm-marker> 
    </agm-map>
</div>

<!-- <div class="controlPanel">
    <h1>Filter users by activities:</h1>
    <p>Choose one activity</p>
    <select class="ui dropdown" (change)="filterByActivity($event)">
        <option *ngFor="let act of activities" value="act.title"> {{ act.title }} </option>
    </select>
</div> -->
